.header {
  width: 100%;
  height: 100vh;
  background: url(../../public/images/background.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.welcome {
  width: 100%;
  height: 550px;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  user-select: none;
  z-index: 1;
}

.welcome h1 {
  text-align: center;
  font-family: rock;
  text-align: center;
  color: #fff;
}
.welcome h1 span {
  color: goldenrod;
}

.welcome .Cursor {
  display: none !important;
}
.welcome img {
  display: block;
  margin: 0 auto;
}
.welcome p {
  display: block;
  text-align: center;
  font-family: Quicksand;
  color: goldenrod;
  margin: 0;
  padding: 0;
}



.scrool_down_link {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce .5s infinite alternate;
}
.scrool_down_link svg {
  font-size: 20px;
  color: #fff;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
