.navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
}

.navbar div {
  padding: 10px 0;
}

.fixed{
  background: #000;
}