.experience {
  width: 100%;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 60%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .item {
    width: 80%;
  }
}

.item::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  width: 1px;
  height: 100px;
  background: #909090;
}
.item span {
  color: #ccc;
  font-size: 14px;
}

.item h3 {
  color: #fff;
}

.item p {
  color: gold;
}
