
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .title h1 {
    display: block;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-family: Quicksand;
    padding-top: 5px;
    width: 60%;
    padding: 0;
  }
  
  .title p {
    display: block;
    text-align:center;
    color: #daa520;
    font:23px rock;
    margin: 10px 0;
    width: 100%;
    
  }