.blog {
  width: 100%;
  padding: 5em 0;
}

.blog_items {
  width: 70%;
  display: flex;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 5;
}
.blog_item {
  width: 80%;
  margin-top: 50px;
}

.blog_item img {
  width: 100%;
}

.blog_item h3 {
  font: 25px Quicksand;
  color: goldenrod;
  text-align: center;
  margin: 5px 0;
}

.blog_item p {
  color: #888;
  display: block;
  text-align: center;
  font: 15px Quicksand;
  line-height: 35px;
}

.blog_item_reverse {
  flex-direction: row-reverse;
}

.blog_item_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog_item_content > div {
  width: 50%;

  padding: 0 20px;
}

.blog_item_content span {
  display: block;
  text-align: center;
  color: #fff;
  font: 13px Quicksand;
}

@media only screen and (max-width: 600px) {
  .blog_item_reverse {
    flex-direction: row !important;
  }
  .blog_item {
    width: 100% !important;
  }

  .blog_items {
    width: 100%;
  }

  .blog_item_content > div {
    width: 100% !important;
  }

  .blog_item_content {
    flex-direction: column !important;
    width: 100% !important;
  }
}



.blog_data {
  width: 100%;
}

.active {
  background-color: greenyellow;
  color: #111;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: Quicksand;
  cursor: pointer;
}

.deactive {
  background-color: #aa1135;
  color: #111;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: Quicksand;
  cursor: pointer;
}

.empty_record {
  display: block;
  text-align: center;
  color: red;
  font:16px Quicksand
}

.header{
  width: 100%;
  height: auto;
  padding: 50px;
  background: #131313;
  display: flex;
}


.blog_image{
  width: 30%;
  display: flex;
  justify-content: center;
}

.blog_info{
  width: 70%;
}

.blog_info h1{
  color: goldenrod;
  font:40px Quicksand
}

.blog_info p{
  color: #888;
  font:18px Quicksand
}

.blog_content{
  width: 100%;
  padding: 50px;
  color: #fff;
}

.blog_footer{
  width: 100%;
  height: auto;
  background: #151515;
  position: absolute;
  bottom: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.blog_like_button{
  cursor: pointer;
  border-radius: 5px;
  border:1px solid #aa1135;
  color: #aa1135;
  background:transparent;
  font:15px Quicksand;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}