@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rochester&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background: #000;
  overflow-x: hidden !important;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input {
  width: 100%;
  height: 40px;
  background: #222;
  border: none;
  padding: 5px;
  color: #888;
  font: 16px Quicksand;
  outline: none;
  margin-bottom: 10px;
}

.error-label {
  display: block;
  text-align: center;
  font: 15px Quicksand;
  color: red;
  margin-bottom: 10px;
}

.button {
  width: 200px;
  height: 40px;
  color: goldenrod;
  font: 17px Quicksand;
  background: transparent;
  border: 1px solid goldenrod;
  cursor: pointer;
}

.button:hover {
  background: goldenrod;
  color: #111;
}

.swal2-popup{
  font-family: Quicksand!important;
}